body {
  margin: 0;
  padding: 0;
}

body, div, input {
  font-family: 'Lato', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.info {
  position: absolute;
  bottom: 25px;
  right: 0;
  margin: 0 10px;
  z-index: 2000;
  min-width: 185px;
  font-size: 1.1em;
  text-align: center;
  user-select: none;
  cursor: default;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.7)
}

.info p {
  margin: 10px 0;
}

.shadow {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 5px rgba(31, 16, 96, 0.2);
}

.radar {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 2000;
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 50px solid rgba(0, 0, 0, 0);
  border-top-color: deepskyblue;
  animation: radar-rotate 1.5s ease-in-out infinite;
}

@keyframes radar-rotate {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.8;
  }
}

.off {
  display: none;
}

.leaflet-touch .geocoder-control.geocoder-control-expanded {
  width: 220px;
}
